header {
  width: 100%;
  height: 230rem;
  background-color: red;
  background: url(../image/index/bg1.png) no-repeat center center;
  background-size: 100% 230rem;
}
header .header-1 {
  width: 100%;
  padding-top: 10rem;
  overflow: hidden;
}
header .header-1 p {
  float: right;
  width: 50rem;
  text-align: center;
}
header .header-1 p span {
  font-size: 12rem;
  color: #fff;
  font-weight: 500;
}
header .header-1 p span:nth-child(1) {
  font-size: 20rem;
}
header .header-1 P:nth-child(1) {
  margin-right: 10rem;
}
header .header-2 {
  width: 100%;
  text-align: center;
}
header .header-2 p:nth-child(1) {
  margin-top: 20rem;
}
header .header-2 p:nth-child(1) img {
  width: 70rem;
}
header .header-2 p:nth-child(2) {
  margin: 10rem auto;
  width: 70rem;
  height: 30rem;
  padding: 0rem 0rem;
  line-height: 30rem;
  border-radius: 5rem;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12rem;
}
.nav {
  width: 100%;
}
.nav ul {
  margin-top: 10rem;
  padding: 0rem 10rem;
  background-color: #fff;
}
.nav ul li {
  padding: 10rem 0rem;
  height: 30rem;
  line-height: 30rem;
  border-bottom: 1rem solid #ccc;
  overflow: hidden;
}
.nav ul li img:nth-child(1) {
  width: 20rem;
  margin-top: 5rem;
  float: left;
}
.nav ul li img:nth-child(3) {
  float: right;
  width: 8rem;
  margin-top: 5rem;
}
.nav ul li span {
  float: left;
  height: 30rem;
  font-size: 15rem;
  margin-left: 10rem;
  padding-bottom: 10rem;
}
.nav ul li span a {
  color: #ccc;
}
